/* loginstyle.css */

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px;
}
.container{
    background-color:rgb(243, 231, 254);
    padding: 50px;
    border-radius: 20px;
    text-align: center;
    width: 75%;
    max-width: 400px;
    box-shadow: 0 4px 6px rgb(162, 92, 227);
}
.logoimg img{
    border-radius: 100px;
    border: 3px solid rgb(255, 183, 1);
    padding: 2px;
}

h2{
    margin-bottom: 20px;
}
.input-group{
    margin-bottom: 20px;
    text-align: left;
}
.input-group label{
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}
.input-group input{
    width: 95%;
    padding: 10px;
    border: 1px solid indigo;
    border-radius: 5px;
    font-size: 14px;
}
.input-group textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid indigo;
    border-radius: 5px;
    font-size: 14px;
}
.input-group input:focus{
    border: 2px solid indigo;
    outline: none;
}
.input-group textarea:focus{
    border: 2px solid indigo;
    outline: none;
}
.options{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 14px;
}
.options input{
    margin-right: 10px;
}
button{
    margin: 20px;
    padding: 10px 20px;
    border: none;
    background:linear-gradient(to right,rgb(132, 18, 213),rgb(127, 1, 216));
    color: whitesmoke;
    border-radius: 10px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:large;
}
button:hover{
    background:linear-gradient(to right,rgb(132, 18, 213),rgb(102, 0, 175));
    box-shadow: 0px 0px 10px 0px rgba(140, 0, 255, 0.692);
    letter-spacing: 0.2px;
}
.links a{
   color:indigo;
   text-decoration: none;
   margin: 0 5px;
}
.links a:hover{
    text-decoration: underline;
}
.role-group div{
   display: flex;
   align-items: center;
   margin-bottom: 10px;
}
.role-group label{
    margin-left: 5px;
}
.role-group{
    display: flex;
    gap: 20px;
}

.asterisk{
    color: red;
    font-size:7px;
    margin-bottom: 4px;
}