.about-profile{
    max-width: 85%;
    margin: 30px auto;
    padding: 40px;
    box-shadow: 2px 2px 20px 10px rgba(212, 167, 244, 0.396);
    border-radius: 30px;
    background: linear-gradient(to right,rgb(255, 255, 255),rgb(244, 228, 255),rgb(255, 255, 255));
}
.profile-cont{
    display: flex;
    gap: 50px;
}
.about-profile img{
    height: 200px;
    width: 200px;
    border-radius: 100%;
    border: 2px solid indigo;
}
.profiles ul {
     list-style-type: none;
}