/* Light Theme with Indigo Accent */
.enrolled-courses {
    background: #f5f5f5;
    color: #333;
    padding: 20px;
    border-radius: 10px;
  }

  
  .course-card {
    display: flex;
    align-items: center;
    background: linear-gradient(to right,rgb(254, 252, 255),rgb(239, 228, 248),rgb(255, 255, 255));
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-left: 5px solid #4b0082; 
  }
  
  .course-icon {
    width: 150px;
    height: 100px;
    border-radius: 20px;
    margin-right: 15px;
    border: 2px solid indigo;
  }
  
  .course-info {
    flex-grow: 1;
    width: 50%;
  }
  

 
  
  .progress-bar {
    height: 6px;
    width: 100%;
    background: #ddd;
    border-radius: 3px;
    overflow: hidden;
    margin: 5px 0;
  }
  
  .progress {
    height: 100%;
    background:linear-gradient(to right,Indigo,rgb(117, 40, 172))
  }
  
  
  